[submodule "DEFCONtroller"]
	path = DEFCONtroller
	url = git@github.com:So11Deo6loria/DEFCONtroller.git
	branch = main
[submodule "DEFCONtrollerBL"]
	path = DEFCONtrollerBL
	url = git@github.com:So11Deo6loria/DEFCONtrollerBL.git
	branch = main
[submodule "Hardware"]
	path = Hardware
	url = https://git.cadlab.io/So11Deo6loria/Project-Shield.git
	branch = master
[submodule "basicFirmwareExample"]
	path = basicFirmwareExample
  url = git@github.com:So11Deo6loria/basicFirmwareExample.git
  branch = main
[submodule "supplyChainStrain"]
	path = supplyChainStrain
	url = git@github.com:So11Deo6loria/supplyChainStrain.git
